body {
    font-family: 'Roboto', sans-serif;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
    float: center;
}

form {
    text-align: center;
    padding-top: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

li a{
    display: inline;
    color: black;
    float: left;
    text-align: center;
    padding: 8px;
    padding-top: 12px;
    font-size: 13px;
    text-decoration: none;
}

.header-right {
    float: right;
    padding-right: 10px;
}

.images {
    padding-right 15px;
}

.header-left {
    padding-left: 10px;
}

.signin {
    display: block;
    color: white;
    font-weight: bolder;
    font-size: 14px;
    background-color: rgb(72, 133, 237);
    border-radius: 3px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 5px;
    margin-left: ;
}

.header a:hover, .footer a:hover {
    color:rgb(82, 82, 82); 
    text-decoration: underline;
}

.footer {
    display: block;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 50px;
    width: 100%;
    background-color: rgba(236, 236, 236, 0.801);
}

.footer-right {
    float: right;
    padding-right: 10px;
}

.footer-left {
    padding-left: 10px;
    padding-top: 5px;
}

form {
    margin: 0 auto;
    padding-right: 100px;
}

input[type=text] {
    width: 500px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
    border-width: 1px;
    border-color: black;
    display: inline-block;
}

input[type=text]:hover {
    box-shadow: 2px 3px 4px;
    color: 
    opacity: 10%;
}

input[type=submit] {
    width: 150px;
    text-align: center;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(236, 236, 236, 0.801);
    border: none;
    outline: none;
    border-radius: 5px;
}

input[type=submit]:hover {
    box-shadow: 1px;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.4);
    outline-style: solid;
    outline-width: 1px;
    outline-color: rgba(199, 199, 199, 0.801);
    border-radius: 5px;
}